# 构建文件
__pycache__
*.pyc
build
dist
*spec
upx*
install.bat

# 资源包不开源
*.aseprite
/resources/PetArt*
/resources/*.json

# 暂时还没做好的基本icon文件
logo.ico
logo.png

# 调试文件
pack_app.py
/log
/data
/test.py
*.lnk
~*