# 构建文件
__pycache__
*.pyc
build
dist
*spec
upx*
install.bat

# 资源包不开源
*.aseprite
/resources/PetArt*
/resources/*.json
mod

# 暂时还没做好的基本icon文件
logo.ico
logo.png

# 调试文件
module/life/*/*.json
module/life/*/*/*.json
tests
LIFE*.MD
pack_app.py
/log
/module/LIFE/LIFE_DEV_0_3.md
/config
/data
/test.py
*.lnk
~*